.box {
    display: flex;
    flex-direction: row;
    background-color: rgb(94, 77, 111);
    height: 920px;
    border: 2px solid rgb(32, 2, 37);
    align-items: flex-start;
    justify-content: space-around;
}

.box1 {
    background-color: rgb(94, 77, 111);
    height: 70px;
    width: 1900px;
    border: 4px solid rgb(32, 2, 37);
    text-align: center;
    padding: 20px;
}